html {
	background-image: url("../images/sky.jpg");	
}
body  {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	width: 1000px;
	background-color: white;
	margin: 0 auto; 
	padding: 0;
	border: 3px solid black;
	box-shadow: 0 9px 18px 9px;
}
h1, h2, h3, p {
	margin: 0;
	padding: 0;
}

/* Header */
header { 
    background-image: -webkit-linear-gradient(45deg, gray 0%, #c40707 75%, black 100%);
    background-image: -moz-linear-gradient(45deg, gray 0%, #c40707 75%, black 100%);
    background-image: -o-linear-gradient(45deg, gray 0%, #c40707 75%, black 100%);
    background-image: linear-gradient(45deg, gray 0%, #c40707 75%, black 100%);
    padding: 15px;
} 
header img { 
	float: left; 
	padding-right: 15px;  
} 
header h2 {
	font-size: 230%;
}
header h3 {
	font-size: 125%;
	padding-bottom: 15px;
}

/* Navigation menu */
#nav_menu {
	clear: left;
}
#nav_menu ul {
	list-style: none;
	position: relative;
}
#nav_menu ul li {
	float: left;
}
#nav_menu ul ul {
	display: none;
	position: absolute;
	top: 100%;
}
#nav_menu ul ul li {
	float: none;
}
#nav_menu ul ul li ul {
	display: block;
	position: absolute;
	left: 100%;
	top:0;
}
#nav_menu ul li:hover > ul {
	display: block;
}
#nav_menu ul li ul li:hover > ul {
	display: block;
}

#nav_menu > ul::after {
	content: "";
	clear: both;
	display: block;
}
#nav_menu ul {
	margin: 0;
	padding: 0;
}
#nav_menu ul li a {
	text-align: center;
	display: block;
	width: 333.3px;
	padding: .7em 0;
	text-decoration: none;
	background-color: black;
	color: white;
}
#nav_menu ul li a.current {
	background-color: #c40707;
}
#nav_menu ul li a:hover, #nav_menu ul li a:focus {
	background-color: gray;
}

/* Sidebar */
aside {
	 
	width: 140px;
}
aside a {
	font-weight: bold;
	color: black;
	text-align: right;
}
#left_side {
	border-right: 2px solid black;
	float: left;
	padding: 20px 0;
	height:789px;
}
#left_side p {
	
	color: red;
	
}
#left_side img {
	float: right;
	padding: 1.1em;
}
#right_side {
	border-left: 2px solid black;
	float: right;
	padding: 0 20px;
	height:789px;
}

#comments {
	height: 7em;
	width: 40em;
}
/* Section */
section {
	width: 580px;
	float: left;
	padding: 20px 40px 20px 20px;	
}
section h1 { 
	font-size: 140%;
	margin-bottom: .5em;
}

section h2 {
	font-size: 125%;
	margin: .8em 0 .5em 0;
}
section h3 {
	font-size: 110%;
	margin: .8em 0 .5em 0;
}
section p {
	margin-bottom: .5em;
}
section a {
	font-weight: bold;
	color: black;
	float: right;
}
section a:link, main a:visited { 
    color: black; 
	float:right;
}
section a:hover, main a:focus { 
    color: green;
}
main img {
	padding: .25em;
}
main p {
	float: left;
	padding: .5em;
}
main h3 {
	float: left;
}

/* Footer */
footer { 
	clear: both;
	border-top: 2px solid black;
	padding: 15px;
    background-image: -webkit-linear-gradient(45deg, gray 0%, #c40707 75%, black 100%);
    background-image: -moz-linear-gradient(45deg, gray 0%, #c40707 75%, black 100%);
    background-image: -o-linear-gradient(45deg, gray 0%, #c40707 75%, black 100%);
    background-image: linear-gradient(45deg, gray 0%, #c40707 75%, black 100%);
} 
footer p {
	font-size: 90%;
	text-align: center;
}